
body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: arial;
}

.logo{
    width: 150px;
    border-radius: 50px;
}


a{
    text-decoration: none;
}

h1{
    text-align: center;
    margin-top: 150px;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu{
    display: flex;
}

.menu li{
margin-left: 10px;
}

.menu li a, .logo{
    display: block;
    padding: 10px;
    color: black;
}

img{
    max-width: 100%;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p{
    text-align: center;
    margin-top: 15px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div{
    flex: 1 1 200px;
    margin: 15px;
}

.num:hover{
    border: solid black;
    border-radius: 10px;
}

.etapa{
    background-color: black;
    color: white;
    padding: 5%;
}

.texto{
text-align: left;
font-size: 250%;
}

.video{
    width: 90%;
    height: 390px;
}

.rodape{
    display: flex;
    margin: 0px;
    background-color: black;
    width: 100%;
    color: white;
    padding: 0;
   
}

.formas{
    margin: 50px;
}

.outros{
    margin: 70px;
    font-size: 30px;
}